<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Directives</title>
</head>
<body>
  <div class="m-3">
    <h3 class="mb-10px">Directive - *ngIf</h3>
    <input type="text" class="form-control mb-3" [(ngModel)]="serverName">
    <button type="button" class="btn btn-primary mb-3" (click)="onClickAddData()">Add data</button>
    <p *ngIf="dataAdded">{{ serverName }}</p>
  </div>
</body>
</html>